body {

    background-image: url(../img/tablero_Yugi2.jpg);
    background-size: cover;
    font-family: Didot !important;

}

form.bodyRegister {

    color: white !important;


}

.card-body {
    color: black;
}

.ajusteImg {
    width: 30px;
}

button img {

    margin-right: 10px;

}

.plantilla {

    background-image: url(../img/plantilla.png) !important;
    background-repeat: no-repeat;

    padding: 15px;
    color: black;
    width: 384px;
    background-size: 380px;

}

.ajudteBody {
    width: 385px;
    font-family: inherit;

}

.cardUni {
    height: 525px !important;
}

.cardFirtPart {
    justify-content: space-between;
    margin-left: -12px;
    margin-top: -12PX;
    display: flex;
    align-items: self-start;
    font-weight: bold 200 !important;

}

.cardFirtPart button img {
    width: 32px;
}

.cardAtribute {
    margin-top: 10px;
    margin-right: -15px;
    padding: 0px;
    justify-content: flex-end;
    display: flex;
    align-items: self-start;


}

.cardLevel {
    justify-content: end;
    display: flex;
    margin-top: -34px;
    height: 40px;
    align-items: center;
}

.cardButImg {
    height: 275px;
    border: none;
    background: none;
    width: 308px;
}

.cardImg {
    padding-top: 4px;
    padding-left: 5px;
    width: 302px;
    border-radius: 5px;
}

.cardType {

    max-width: 349px;
    text-align: left;
    margin-left: -20px;
    margin-top: 40px;
    font-size: 10px;
    font-family: inherit;
    white-space: normal;
    word-wrap: break-word;

}

.cardDescription {
    font-size: 16px;
    font-family: inherit;
    width: 360px;
    text-align: left;
    margin-top: -20px;
    margin-left: -20px;
}

.cardPuntation{
    display: flex;
    margin-right: -12px;
    justify-content: end;
    margin-top: -21px;
}

.textPuntation{

    font-size: 16px;
}

.modificares{
    display: flex;
    justify-content: space-between;
    margin-top: 6px;

}

.botonesModifi{

    align-items: center;
    display: flex;
    justify-content:flex-start;
    height: 25px;


}

.modDanger{
    padding: 0;
    height: 32px;
    padding-left: 8px;
    width: 50px;
}


.btn-outline-light {
    border: none;
    opacity: 1;

}

.space{
    margin-left: 10px;
    padding-right: 12px;
}

.cardPuntationContainer {
    position: absolute;
    bottom: 20px;
    right: 33px;
}

.modalImg{
    width: 50%;
}

.formAjust{
    margin-top: 60px;
    margin-bottom: 40px;
}