body{

background-image: url(../img/tablero_Yugi2.jpg);
background-size: cover;

}

form.bodyRegister{

color: white !important;


}

.ajusteImg{
    width: 45px;
}

button img{
    
    margin-right: 10px ;

}